.collapse {
  .collapse-content {
    color: 	#A9A9A9;
  }
  .content-fold {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .icon {
    cursor: pointer;
  }
}